<form action="{{ "{{ path('"~ route_name_prefix ~"_delete', { 'id': entity.id }) }}" }}" method="post">
    {{ '{{ form_widget(delete_form) }}' }}
    <button type="submit" class="btn btn-danger">{{ '{% trans %}' }}Delete{{ '{% endtrans %}' }}</button>
</form>
