{{ '{% extends "' ~ bundle ~ '::adminbase.html.twig" %}' }}

{{ '{% block body %}' }}

{{ '{{ parent() }}' }}

<div class="page-header">
  <h1>{{ '{% trans %}' }}List{{ '{% endtrans %}' }}</h1>
</div>

<table class="table table-bordered table-striped table-condensed records_list">
    <thead>
        <tr>
        {%- for field, metadata in fields %}

            <th>{{ field|capitalize }}</th>

        {%- endfor %}

            <th colspan="3">{{ '{% trans %}' }}Actions{{ '{% endtrans %}' }}</th>
        </tr>
    </thead>
    <tbody>
    {{ '{% for entity in entities %}' }}
        <tr>

    {%- for field, metadata in fields %}
        {%- if loop.first and ('show' in actions) %}

            <td><a href="{{ "{{ path('"~ route_name_prefix ~"_show', { 'id': entity.id }) }}" }}">{{ '{{ entity.'~ field|replace({'_': ''}) ~' }}' }}</a></td>

        {%- elseif metadata.type in ['date', 'datetime'] %}

            <td>{{ '{% if entity.'~ field|replace({'_': ''}) ~' %}{{ entity.'~ field|replace({'_': ''}) ~'|date(\'Y-m-d H:i:s\') }}{% endif %}' }}</td>

        {%- else %}

            <td>{{ '{{ entity.'~ field|replace({'_': ''}) ~' }}' }}</td>

        {%- endif %}

        {%- if loop.last %}

        {%- include "views/others/actions.html.twig" %}

        {%- endif %}
    {%- endfor %}

        </tr>
    {{ '{% endfor %}' }}
    </tbody>
</table>

{% if 'new' in actions %}
<ul class="records_actions">
    <li>
        <a class="btn btn-primary" href="{{ "{{ path('"~ route_name_prefix ~"_new') }}" }}">
            {{ '{% trans %}' }}Create a new entry{{ '{% endtrans %}' }}
        </a>
    </li>
</ul>
{% endif %}
{{ '{% endblock body %}' }}
