{%- for action in record_actions %}

        <td>
        {% if('delete' == action) %}
            {{ "{% render controller('"~ bundle ~":"~ entity_class ~":deleteForm', { 'id': entity.id }) %}" }}
        {% elseif('show' == action)%}
            <a class="btn btn-block" href="{{ "{{ path('"~ route_name_prefix ~"_"~ action ~"', { 'id': entity.id }) }}" }}">{{ '{% trans %}' }}{{ action }}{{ '{% endtrans %}' }}</a>
        {% else %}
            <a class="btn btn-primary" href="{{ "{{ path('"~ route_name_prefix ~"_"~ action ~"', { 'id': entity.id }) }}" }}">{{ '{% trans %}' }}{{ action }}{{ '{% endtrans %}' }}</a>
        {% endif %}
        </td>

{%- endfor %}
